.technology-component {
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: #1C2B33;

  .technology-grid-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5vmin;

    p {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      font-size: calc(0.625rem + 1.5vmin);
      color: #b5b5b5;
      font-weight: 400;

      span {
        line-height: 3.75vmin;
      }
      strong {
        font-size: calc(0.625rem + 4.175vmin);
        color: white;
        font-weight: bold;
      }
    }
    .price {
      margin-top: auto;
      font-size: calc(0.625rem + 7.5vmin);
      font-weight: bold;
      background: -webkit-linear-gradient(left, #657DFC 5%, #D046EF 25%, #FF55B6 35%, #FB9C33 60%);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

@media screen and (max-width: 750px) {
  .technology-component {
    display: flex;
    flex-flow: column-reverse;
    gap: 3vmin;
    text-align: center;
    padding-bottom: 3vmin;

    .technology-grid-column:nth-child(2) {
      text-align: center;
    }
  }
}
