.technology-component {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #1C2B33;

  .technology-grid-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 3rem;

    p {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      font-size: 26px;
      color: #b5b5b5;
      font-weight: 400;

      span {
        line-height: 36px;
      }
      strong {
        font-size: 50px;
        color: white;
        font-weight: bold;
      }
    }
    .price {
      margin-top: auto;
      font-size: 80px;
      font-weight: bold;
      background: -webkit-linear-gradient(left, #657DFC 5%, #D046EF 25%, #FF55B6 35%, #FB9C33 60%);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}