.button-component {
  .btn {
    background-color: #0081FB;
    opacity: 0.9;
    color: white;
    font-weight: bold;
    font-size: calc(0.625rem + 2.2vmin);
    border-radius: 3.125rem;
    border: none;
    cursor: pointer;
    padding: 2vmin 1.67vmin;
    width: 100%;
  
    &:hover {
      background: linear-gradient(to right, #657DFC 20%, #D046EF 30%, #FF55B6 60%, #FB9C33 100%);
    }
  }
}