.metaquest-component {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-image: url("../../../../assets/metaquest.png");
  background-repeat: no-repeat;
  background-position: left 15% top;
  background-size: contain;
  padding: 5vmin;
  border-bottom: 1px solid lightgray;

  .info-container {
    width: 50%;
    text-align: left;
    font-size: calc(0.625rem + 1.25vmin);

    span {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}