.metaquest-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vmin;
  border-bottom: 1px solid lightgray;
  transition: all 500ms ease-in-out;

  .background {
    background-image: url("../../../../assets/metaquest.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    width: 50%;
  }
  .info-container {
    width: 50%;
    text-align: justify;
    font-size: calc(0.625rem + 1.25vmin);

    span {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .metaquest-component {
    flex-direction: column;
    padding: 0 5vmin;
    padding-bottom: 5vmin;
    
    .background {
      height: 85vmin;
    }
    .background,
    .info-container {
      width: 100%;
    }
  }
}