.discover-component {
  display: grid;
  grid-template-columns: 45% 55%;

  // background-image: url("../../../../assets/discover.png");
  // background-position: right;
  // background-repeat: no-repeat;
  // background-size: contain;

  .discover-grid-column:first-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    padding: 8vmin 5vmin;
    
    p {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      font-size: calc(0.625rem + 2vmin);
      font-weight: 400;
      color: #515151;
    }
    p:first-child {
      font-weight: 500;

      strong {
        font-size: calc(0.625rem + 6vmin);
        color: #111111;
      }
    }
    .button-wrapper {
      width: 75%;
    }
  }
  .discover-grid-column:nth-child(2) {
    background-image: url("../../../../assets/discover.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

}
