.header-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vmin;

  .header-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
    .option {
      display: flex;
      flex-direction: rows;
      gap: 0.5rem;
      text-decoration: none;
      color: #222222;
      font-weight: 500;
      font-size: calc(0.625rem + 0.825vmin);

      .meta-logo {
        font-size: calc(0.625rem + 1.25vmin);
        color: #0081FB;
      }
      .cart-logo {
        font-size: calc(0.625rem + 1.25vmin);
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .header-component {
    .header-group 
    .option {
      font-size: calc(0.625rem + 1.75vmin);

      .meta-logo,
      .cart-logo {
        font-size: calc(0.625rem + 2vmin);
      }
    }
    .header-group:nth-child(2) {
      display: none;
    }
  }
}