.header-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vmin;
  transition: all 500ms ease-in-out;

  .header-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
    .option-wrapper {
      display: flex;
      flex-direction: column;

      .option {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding-bottom: 3px;
        text-decoration: none;
        color: #222222;
        font-weight: 500;
        font-size: calc(0.625rem + 0.825vmin);
  
        .meta-logo {
          font-size: calc(0.625rem + 1.25vmin);
          color: #0081FB;
        }
        .cart-logo {
          font-size: calc(0.625rem + 1.25vmin);
        }
      }
      .underline {
        width: 100%;
        border-bottom: 3px solid #0081FB;
        animation: smooth-span 300ms linear;
        display: none;
      }
    }
  }
  .header-group:nth-child(2) {
    .option-wrapper:hover {
      .option {
        padding-bottom: 0;
      }
      .underline {
        display: block;
      }
    }
  }
  .header-group:first-child {
    .option {
      font-weight: bold;
    }
  }
}

@keyframes smooth-span {
  0% {
    opacity: 0.2;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .header-component {
    .header-group 
    .option {
      font-size: calc(0.625rem + 1.75vmin);

      .meta-logo,
      .cart-logo {
        font-size: calc(0.625rem + 2vmin);
      }
    }
    .header-group:nth-child(2) {
      display: none;
    }
  }
}