.product-component {
  display: flex;
  flex-direction: column;

  .image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
      width: 100%;
      position: relative;
      z-index: 0;
      top: 2.5vmin;
    }
    span {
      font-size: calc(0.625rem + 0.825vmin);
      position: relative;
      font-weight: bold;
      background-color: white;
      margin-left: 1.5vmin;
      padding-right: 1.5vmin;
      padding-top: 0.375vmin;
      padding-bottom: 0.375vmin;
      z-index: 1;
    }
  }
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid lightgray;
    font-size: calc(0.625rem + 0.825vmin);

    span:first-child {
      text-align: left;
      max-width: 30%;
    }
    span:nth-child(2) {
      color: #0081FB;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 750px) {
  .product-component  {
    .description {
      flex-direction: column;
      align-items: flex-start;
      gap: 3vmin;
    }
  }
}