.footer-component {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.75rem;
  padding: 5vmin;

  .footer-grid-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .footer-grid-column-line:first-child {
      .option:first-child {
        color: #222222;
        font-weight: bold;
      }
    }
    .footer-grid-column-line {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      text-align: left;

      .option {
        display: flex;
        flex-direction: rows;
        gap: 0.5rem;
        text-decoration: none;
        color: #515151;;
        font-weight: 500;
        font-size: calc(0.625rem + 0.825vmin);
  
        .meta-logo {
          font-size: calc(0.625rem + 1.25vmin);
          color: #0081FB;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .footer-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10vmin 0;

    .footer-grid-column:not(:first-child) {
      display: none;
    }
    .footer-grid-column:first-child {
      align-items: center;

      .option {
        font-size: calc(0.625rem + 3.5vmin);
  
        .meta-logo {
          font-size: calc(0.625rem + 4vmin);
        }
      }
    }
  }

}